.button {
  background-color: #6200ee;
  color: #fff;
  border-radius: 24px;
  padding: 16px 22px;
  font-size: 0.8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  outline: none;

  &:active,
  &:hover,
  &:focus {
    background-color: #3f098b;
  }
}
