.button {
  background-color: #6200ee;
  color: #fff;
  border-radius: 24px;
  padding: 12px 16px;
  font-size: 0.625rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  outline: none;

  &:active,
  &:hover,
  &:focus {
    background-color: #3f098b;
    cursor: pointer;
  }
}
